body{
background-color: black; 
font-family: monospace;
font-size: 1em;   
}

#main{
width:80%;
background-color: #ea9914;
margin: auto 0;
padding:20px;
border-bottom: white solid 4px;
border-right: white solid 4px;
}

ul .main-ul{
list-style: none;
}

ul .main-ul li{
list-style: none;  
text-decoration: none;  
}

.main-ul li a{
    list-style: none;  
    text-decoration: none;  
    }

a{
 color:white;  
 text-decoration:none;
}

a :hover :visited :active  {
    color:white;
}
