body{
    background: #0e253b;
}

.desc{
    background: #0e253b;
    padding:20px;
    margin:20px;
    border-radius: 10px;
}

#banner{
    background-image: url('logo.jpg');
}



/* extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
     .desc h1,h2,h3,h4,h5{
        font-size: 0.6em;
}

btn-group-lg > .btn, .btn-lg{
    font-size: 0.8em;
}

}
/* 
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .desc h1,h2,h3,h4,h5{
        font-size: 0.8em;
}

btn-group-lg > .btn, .btn-lg{
    font-size: 0.8em;
}
}
    